---
import '@/styles/global.css'
import Home from '../components/Home';
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button';
---

<Layout>
	<Home client:visible />
	<Button className='mx-[20px]'>Button</Button>
</Layout>
